{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}


{% block base_head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/paginas.css' %}">
    {%  bootstrap_css  %}
    <title></title>
{% endblock base_head %}

{% block content %}
    <div class="c center">
        <div class="row justify-content-center">
            <div class="card">
                <div class="card-body">
                    <h1>Transparência dos Agendamentos</h1>
                    {% bootstrap_messages %}
                    <canvas class="chart mb-5" id="grafico-aptos"></canvas>

                    <canvas class="chart" id="grafico-agendamentos"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {% bootstrap_javascript jquery='full' %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
        let configApto = {
            type: 'pie',
            data: {
                datasets: [
                    {
                        data: {{ data_grafico_aptos|safe }},
                        backgroundColor: [
                            '#54cdd6', '#43a4ab'
                        ],
                        label: 'Aptidão para Agendamento'
                    }
                ],
                labels: {{ labels_grafico_aptos|safe }}
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Quantidade de cidadãos por aptidão para agendamento',
                }
            }
        };

        let configAgendamento = {
            type: 'bar',
            data: {
                datasets: [
                    {
                        data: {{ data_grafico_agendamentos|safe }},
                        backgroundColor: [
                            '#54cdd6'
                        ],
                        label: 'Agendamentos'
                    }
                ],
                labels: {{ labels_grafico_agendamentos|safe }}
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Quantidade de agendamentos por estabelecimento',
                }
            }
        };

        window.onload = function() {
            let ctxApto = document.getElementById('grafico-aptos').getContext('2d');
            window.myPie = new Chart(ctxApto, configApto);
            let ctxAgendamento = document.getElementById('grafico-agendamentos').getContext('2d');
            window.myBar = new Chart(ctxAgendamento, configAgendamento);
        };

    </script>
{% endblock %}
