{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}


{% block base_head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/paginas.css' %}">
    {%  bootstrap_css  %}
    <title></title>
{% endblock base_head %}


{% block content %}

            <div class="c center">
                            <div class="row justify-content-center">
                                    <div class="card">
                                        <div class="card-body">
                                            <h1>Transparência dos Agendamentos</h1>
                                            {% bootstrap_messages %}
                                            <div style="display: flex; flex-direction: row;
                                                 justify-content: space-around">
                                                <div>
                                                    {% autoescape off %}
                                                    {{ plot_pizza }}
                                                {% endautoescape %}
                                                </div>

                                                <div>
                                                    {% autoescape off %}
                                                        {{ plot_bar }}
                                                    {% endautoescape %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
            </div>



    {% bootstrap_javascript jquery='full' %}
{% endblock %}