{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}


{% block base_head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/paginas.css' %}">
    {%  bootstrap_css  %}
    <title></title>
{% endblock base_head %}

{% block content %}
    <div class="c center">
        <div class="row justify-content-center">
            <div class="card">
                <div class="card-body">
                    <h1>Página inicial</h1>
                    {% bootstrap_messages %}
                    {% if request.user.is_authenticated %}
                        Nome: {{ request.user.cidadao.nome }}
                        <br>
                        CPF: {{ request.user.cpf }}
                        <br>
                        Data de nascimento: {{ request.user.cidadao.data_nascimento|date:'d/m/y' }}
                        <br>
                        Idade: {{ request.user.cidadao.idade }} anos
                        <br>
                        Apto para agendamento: {% if request.user.cidadao.apto_agendamento %} Sim {% else %} Não {% endif %}
                    {% else %}
                        Sessão anônima.
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}