
{% load static %}
.c1{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #264b5d;
}

.container{
}

.form-control.is-valid{
    background-image: none!important;
}

.h1{
    padding-bottom: 10px;
    #text-align: center
}

.login-button{
    position: center;
    text-align: center;
}
.btn-login{
    position: center;
    text-align: center;
    font-size: 0.9rem;
    letter-spacing: 0.25rem;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
    background-color: #54cdd6 !IMPORTANT;
    border-color: #54cdd6 !IMPORTANT;
}


.left {
    height:100vh;
    width:100%;
  background-image: url("/static/images/injection.jpg");
}


.right {
    height:100vh;
    width:100%;
  background-color: #dbdbdb;
}



.centered img {
  object-fit: contain;
}