
.c{
        width: 100%;
        padding: 20px;
        min-height: 100vh;
        transition: all 0.3s;
        text-align: center;
}

.c1{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dbdbdb;
}

.container{
    margin: 0;
}
h1{
    padding-bottom: 10px;
    text-align: center;
    color: #54cdd6;
}

.form-control.is-valid{
    background-image: none!important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #54cdd6 !important;
    border-color: #54cdd6 !important;
}

.center-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

p{
    font-family: 'Poppins', sans-serif;
}

.campos{
    font-weight: bold;
    /*font-size: 18px;*/
}

.valores{
    color: #999;
    text-decoration: underline;
}
@media print {

    body * {
        visibility: hidden;
    }
    #section-to-print, #section-to-print * {
        visibility: visible;
    }
    #section-to-print {
        font-size: xx-large ;
        position: fixed;
        text-align: left;
        left: 0;
        top: 0;
    }
}